* {
  font-family: 'Courier', cursive;
  color: rgb(249, 250, 255);
}
body {
  background-color: rgb(92, 92, 92);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container { 
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h h"
  "m m s"
  "f f f ";
}